:root {
  --background: #f8f8f8;
  --font: #333;
  --border: #ccc;
  --screen: #f0f0f0;
  --calculator: #ffffff;
  --calculator-border: #000000;
  --btn: #eee;
  --btn-hover: #ddd;
  --btn-active: #ccc;
  --btn-red: #ff6b6b;
  --btn-red-hover: #ff4f4f;
  --btn-red-active: #ffcccc;
  --btn-blue: #4db5e8;
  --btn-blue-hover: #3f9ac1;
  --btn-blue-active: #cce5f7;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin-bottom: 100px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  width: 400px;
  border: 2px solid var(--calculator-border); 
  border-radius: 15px;
  padding: 20px;
  background-color: var(--calculator);
}

.screen {
  padding: 10px 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--screen);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.span-2 {
  grid-column: span 2;
}

.btn {
  padding: 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  background-color: var(--btn);
  font-size: 20px;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: var(--btn-active);
}

.btn-red {
  background-color: var(--btn-red);
}

.btn-red:hover {
  background-color: var(--btn-red-hover);
}

.btn-red:active {
  background-color: var(--btn-red-active);
}

.btn-blue {
  background-color: var(--btn-blue);
}

.btn-blue:hover {
  background-color: var(--btn-blue-hover);
}

.btn-blue:active {
  background-color: var(--btn-blue-active);
}








  
  
  
  
  